---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GitHubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPillIcon from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Tecnology from '../components/Tecnology.astro';
import ShimmerButton from '../components/magicui/shimmer-button';
---

<Layout 
	title="Portafolio de Eniodev - Desarrollador y Programador Web"
	description=" Contrata a Eniodev para crear tu aplicación web o movil. Desarrollador web. Especializado en crear aplicaiones únicas."

>
	<main  class="px-4">

		<SectionContainer class="py-28 pb-32">
			<img 
				class="rounded-full object-cover size-24 mb-4"  
				src="/images/WhatsApp Image 2022-08-28 at 10.37.31 AM.jpeg" 
				alt="eniodev photo"
			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex  flex-row gap-x-4 pb-6 lg:pb-10">
				Eniodev - Frontend <a 
					href="https://www.linkedin.com/in/enio-mej%C3%ADa-37275228a/" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
			</h1>
			<h2 class="text-xl lg:text-2xl  text-wrap max-w-[700px]"> <span>+3 años de experiencia.</span> <span class=" text-yellow-200/90 ">Desarrollador web</span>. <span class="text-red-400/90">De Guatemala</span>. <span class="opacity-85">Especializado en crear aplicaiones únicas.</span>
			</h2>

			<nav class="flex gap-6 mt-8 flex-wrap">
				<SocialPillIcon href="https://www.linkedin.com/in/enio-mej%C3%ADa-37275228a/">
					<LinkedInIcon class="size-4 md:size-6" />
					Linkedin
				</SocialPillIcon>

				<SocialPillIcon href="https://github.com/eniomejia01">
					<GitHubIcon class="size-4 md:size-6" />
					Github
				</SocialPillIcon>

				<SocialPillIcon href="https://github.com/eniomejia01">
					<MailIcon class="size-4 md:size-6" />
					eniomejia57@gmail.com
				</SocialPillIcon>
			</nav>
		</SectionContainer>


		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-10 flex gap-x-3 items-center">
				<CodeIcon class="size-9"/>
				Proyectos
			
			</h2>
			<Projects  />

			
		</SectionContainer>

		<SectionContainer id="tecnologias">
			<h2 class="text-2xl font-semibold mb-10 mt-20 flex gap-x-3 items-center">
				<CodeIcon class="size-9"/>
				Tecnologías
			
			</h2>
			<Tecnology />
		</SectionContainer>

		<SectionContainer>
			<h2 class="text-2xl font-semibold mb-10 mt-20 flex gap-x-3 items-center">
				<CodeIcon class="size-9"/>
				¿Tienes algún proyecto? Trabajemos juntos
			
			</h2>
		</SectionContainer>

	</main>
</Layout>
