---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GitHubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialPillIcon from '../components/SocialPill.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Hability from '@/components/Hability.astro';
---

<Layout 
	title="Portafolio de Eniodev - Desarrollador y Programador Web"
	description=" Contrata a Eniodev para crear tu aplicación web o movil. Desarrollador web. Especializado en crear aplicaiones únicas."

>
	<main  class="px-4">

		<SectionContainer class="pt-28 pb-20">
			<img 
				class="rounded-full border-4 border-black object-cover size-24 mb-4"  
				src="/projects/FOTO-2-0.webp" 
				alt="eniodev photo"
			/>
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold flex  flex-row gap-x-4 pb-6 lg:pb-10">
				Eniodev - Frontend 
				<a 
					href="https://www.linkedin.com/in/enio-mej%C3%ADa-37275228a/" 
					target="_blank" 
					rel="noopener"
					class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl  text-wrap max-w-[700px]"> <span>+3 años de experiencia.</span> <span class=" text-blue-700 ">Desarrollador web</span>. <span class="text-blue-700">De</span> <span class="text-blue-500">Gua</span>tem<span class="text-blue-500">ala</span>. <span class="">Especializado en crear aplicaciones únicas.</span>
			</h2>

			<nav class="flex gap-6 mt-8 flex-wrap">
				<SocialPillIcon href="https://www.linkedin.com/in/enio-mej%C3%ADa-37275228a/">
					<LinkedInIcon class="size-4 md:size-6" />
					Linkedin
				</SocialPillIcon>

				<SocialPillIcon href="https://github.com/eniomejia01">
					<GitHubIcon class="size-4 md:size-6" />
					Github
				</SocialPillIcon>

				<SocialPillIcon href="gmail">
					<MailIcon class="size-4 md:size-6" />
					G-mail
				</SocialPillIcon>
			</nav>
		</SectionContainer>


		<SectionContainer id="proyectos" >
			<h2  class="text-2xl font-semibold mb-10 flex gap-x-3 items-center">
				<CodeIcon class="size-9"/>
				<span >Proyectos</span> 
			
			</h2>
			<Projects  />

			
		</SectionContainer>

		<SectionContainer id="tecnologias" class="mt-20" >
			<h2 class="text-2xl font-semibold flex gap-x-3 items-center" >
				<CodeIcon class="size-9" />
				Tecnologías que he aprendido
			
			</h2>
			<!-- <Tecnology /> -->
			<Hability />
		</SectionContainer>

	</main>
</Layout>

