<header class="fixed py-5 w-full  mx-auto bg-stone-950 ">

    <nav class="flex flex-row  md:justify-center justify-around md:gap-40">
        <a href="#top">Inicio</a>
        <!-- <a href="#sobremi">Sobre mí</a> -->
        <!-- <a href="#experiencia">Experiencia</a> -->
        <a href="#proyectos">Proyectos</a>
        <a href="#tecnologias">Tecnologías</a>
    </nav>

    


</header>
