<header class="py-5 w-full  mx-auto bg-black">

    <nav class="flex flex-row justify-center opacity-100 gap-40">
        <a href="#top">Inicio</a>
        <!-- <a href="#sobremi">Sobre mí</a> -->
        <!-- <a href="#experiencia">Experiencia</a> -->
        <a href="#proyectos">Proyectos</a>
        <a href="#tecnologias">Tecnologías</a>
    </nav>

    


</header>
